.app{
    margin:0;
    padding: 0;
    font-family: 'PingFang HK';
    background-color: rgb(31, 28, 51);
  }
  .body{
    width:80%;
    margin:0 auto;
    height: 100vh;
    
  }
  .close{
    font-size: 40px;
    color: bisque;
  }
  .flex-container1{
    display:flex;
    /* box-sizing: border-box;
    border:1px solid black; */
    height: 82%;
   
  }
  .item{
    /* margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px; */
    display:flex;
   /*  box-sizing: border-box;
    border:1px solid black; */
    flex-basis: 28%;
    flex-direction: column;
  }
  .text{
   /*  margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px; */
    display: flex;
    /* box-sizing: border-box;
    border:1px solid black; */
    flex-basis:70%;
    flex-direction: column;
  }
  .itemblank{
    display: flex;
    /* box-sizing: border-box;
    border:1px solid black; */
    flex-basis: 9%;
  }
  .item1{
    display: flex;
    /* box-sizing: border-box;
    border:1px solid black; */
    flex-basis: 8%;
    font-size: 150%;
    align-items: center;
  }
  .itemfont{
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
  }
  
  .closebtn{
    
    display: flex;
   /*  box-sizing: border-box;
    border:1px solid black; */
    height:8%;
  }
  .blank{
    display: flex;
    /* box-sizing: border-box;
    border:1px solid black; */
    height:5%;
  }
  .activeclass::after{
    content: ' >';
    color: white;
  }
  