.hidepicture{
    position:absolute;
    width:78%;
    top: 292px;
    display: flex;
    flex-direction: column;
    background-color:white ;
    box-sizing: border-box;
    border:1px solid black;
  }
  .hidepicture *{
      margin-top:10px;
      height:60px;
  }
  .jc--center1{
    font-size: 140%;
    font-weight: 400;
    justify-content: center;
  text-align: center;
    
  }

  