.hidepicture1{
    position:absolute;
    width:80%;
    top: 184px;
    display: flex;
    flex-direction: column;
/*     box-sizing: border-box;
    border:1px solid black; */
    background-color:white ;
  }
  .text{
    display:flex;
    flex-basis:45%
  }

  .flexservice{
    margin-top: 3px;
    display:flex;
    height:70px;
/*     box-sizing: border-box;
  border:1px solid black; */
  }
  .cate{
    border:1px solid black;
    display:flex;
    height:50%;
    flex-basis: 7%;
    font-size:60%;
    font-weight:500;
    word-break: break-all;
    font-family: 'PingFang HK';
  }
  .cateblank{
    display:flex;
    flex-basis: 3.5%;
  }
  .jc--center4{
    justify-content: center;
    text-align: center;
  }
  .sfg{
    flex-grow: 2;
  }
  .sfg-5{
     font-size: 68%;
     word-break:break-all;
     font-family: 'PingFang HK';
  }
  .simg1{
      font-size:290%;
  }
  .itemservice{
    display:flex;
    width:100%;
  }
  .ai--center{
    align-items: center;
  }
  .picture{
    display:flex;
    flex-basis: 48%;
  }
  .blank{
    display:flex;
    flex-basis:5%;
  }
  .flexserviceblank{
    height: 23px;
  }
